$bg_front: #FFF5EE; /* white */
$front_page: #3A1C71; /* purple */
$back_page: $front_page;
$bg_body_1: #3A1C71; /* purple */
$bg_body_2: #D76D77; /* rose */
$bg_body_3: #FFAF7B; /* peach */

$color_text: #40484b; /* gray-black*/

$font: "Roboto";
$font_title: "Raleway";